@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

/* Custom Animations */
@keyframes scroll-vertical {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(calc(-100% + 300px)); /* Container height */
  }
}

@keyframes typing1 {
  0% {
    opacity: 1;
    width: 0ch;
  }
  10% {
    opacity: 1;
    width: 20ch;
  }
  20% {
    opacity: 1;
    width: 20ch;
  }
  30% {
    opacity: 1;
    width: 0ch;
  }
  33.3%, 100% {
    opacity: 0;
    width: 0ch;
  }
}

@keyframes typing2 {
  0%, 33.3% {
    opacity: 0;
    width: 0ch;
  }
  33.3% {
    opacity: 1;
    width: 0ch;
  }
  43.3% {
    opacity: 1;
    width: 13ch;
  }
  53.3% {
    opacity: 1;
    width: 13ch;
  }
  63.3% {
    opacity: 1;
    width: 0ch;
  }
  66.6%, 100% {
    opacity: 0;
    width: 0ch;
  }
}

@keyframes typing3 {
  0%, 66.6% {
    opacity: 0;
    width: 0ch;
  }
  66.6% {
    opacity: 1;
    width: 0ch;
  }
  76.6% {
    opacity: 1;
    width: 11ch;
  }
  86.6% {
    opacity: 1;
    width: 11ch;
  }
  96.6% {
    opacity: 1;
    width: 0ch;
  }
  100% {
    opacity: 0;
    width: 0ch;
  }
}

@keyframes caret {
  50% {
    border-color: transparent;
  }
}

.typing {
  animation: caret 0.7s steps(1) infinite;
}

.typing span:nth-child(1) {
  animation: typing1 9s steps(20, end) infinite;
}

.typing span:nth-child(2) {
  animation: typing2 9s steps(20, end) infinite;
}

.typing span:nth-child(3) {
  animation: typing3 9s steps(20, end) infinite;
}

p.typing {
  height: 28.8px;
  padding: 0;
  margin: 0;
}
